header {
    background-size: cover;
}

background{
    height: auto;
    max-width: 30%
}


.nav-link {
    margin-left: 2em;
    padding-left: 12em;
    border-right: solid #dedede 1px;
    border-spacing: 100px;
}

.navbar-nav a:hover {
    background-color: #dedede;
}

@media (max-width: 980px) {
    .navbar-nav a:hover {
        border-radius: 2px;
        border-left: solid #dedede 1em;
        border-right: solid #dedede 1px;
        transform: scale(1.0);
    }
}

#navbarNav{
    margin-right:5em;
}

#nav-main {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: solid 1px #dedede;
    /*background-image: linear-gradient(#354651, #323232)*/
}


.space {
    height: 35px;
    border-bottom: solid #dedede 0.5px;
  
}

